/* Reset CSS cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Thiết lập chung */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 70px; /* Khoảng cách để không bị chồng lên navbar */
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.navbar-brand {
    color: #ff5733 !important;
    font-weight: bold;
}

.nav-link {
    color: #ff5733 !important;
}

.navbar-nav .nav-item .nav-link {
    margin-left: 1rem;
}

.navbar-nav .nav-item .nav-link i {
    margin-right: 0.5rem;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #c70039 !important;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 0;
}

/* Jumbotron */
.jumbotron {
    background-image: url('path_to_your_shoe_store_image.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 4rem 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jumbotron p.lead {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.jumbotron .btn {
    background-color: #ff5733;
    border-color: #ff5733;
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
}

.jumbotron .btn:hover {
    background-color: #c70039;
    border-color: #c70039;
}

/* Cards */
.card {
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.btn-group .btn {
    font-size: 0.875rem;
}

.card .text-muted {
    font-size: 1rem;
    font-weight: bold;
    color: #28a745;
}

/* Modal */
.modal-content {
    padding: 2rem;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-body p {
    font-size: 1rem;
    color: #333;
}


/* Responsive */
@media (max-width: 768px) {
    .navbar-brand, .nav-link {
        font-size: 0.875rem;
    }

    .card img {
        height: 200px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.875rem;
    }
}
